 .attribution { font-size: 11px; text-align: center; }
    .attribution a { color: hsl(228, 45%, 44%); }
    :root{
      --green: hsl(75, 94%, 57%);
      --white: hsl(0, 0%, 100%);
      --grey-700: hsl(0, 0%, 20%);
      --grey-800: hsl(0, 0%, 12%);
      --grey-900: hsl(0, 0%, 8%);
      --font-wight-400: 400;
      --font-wight-600: 600;
      --font-wight-700: 700;
    }

    *
    {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body{
      font-size: 14px;
      font-family: 'Figtree', sans-serif;
      background-color: var(--grey-900);
    }

    .container{
      min-height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .card{
      border-radius: 1rem;
      width: 350px;
      height: 550px;
      background-color: var(--grey-800);
      display: flex;
      align-items: center;
      flex-direction: column;
      color: var(--white);
    }

    .bio
    {
      margin-top: 1rem;
      font-weight: var(--font-wight-400);
      color: var(--grey-700);
    }

    .card-item{
      margin-top: 3rem;
      text-align: center;
    }

    .card-text-location
    {
      color: var(--green);
      font-weight: var(--font-wight-400);
      margin-top: 0.5rem;
    }

    .card-text-bio-description{
      margin-top: 1rem;
      font-weight: var(--font-wight-400);
    }

    .card img
    {
      display: inline-block;
      border-radius: 50%;
      width: 5rem;
    }
    .cad-links
    {
      background-color: var(--grey-700);
      display: flex;
      flex-direction: column;
      font-weight: var(--font-wight-600);
    }

    .card-links div
    {
      text-align: center;
      padding: 0.7rem;
      margin-top: 1rem;
      background-color: var(--grey-700);
      cursor: pointer;
    }

    .card-links div:hover
    {
      background-color: var(--green);
      color: var(--grey-900);
    }
